# .env.example
# RAZORPAY KEYS (Test Mode)
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

# GEMINI API KEY
GEMINI_API_KEY=""

# APP SETTINGS
DRY_RUN="False"
USE_MOCK_RAZORPAY="True"
MOCK_RAZORPAY_URL="http://localhost:8001"
